{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
  </head>
<body>
  <header>
    <img src="{% static 'img/logo.jpg' %}" />
    <nav>
      <form class="d-flex"  method="POST"> {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="nameCharacter">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
  </nav>
  </header>

  {% block content %}

  {% endblock %}

  
  <footer>
    <p>&copy; 2023 E-LAPSE. Todos los derechos reservados.</p>
    <p><em>"With great power comes great responsibility" - Stan Lee</em></p>
  </footer>
  
  <!-- <script type="text/javascript" src="{% static 'js/base.js' %}"></script> -->
</body>
</html>