{% extends 'base.html' %} {% block content %}
    <h2>One Character view</h2>

    <h2>This character has: {{characterId}} </h2>

    {% for atribute in character %}
    <h3 class="card-title">{{atribute.name}}</h3>
    <img
    src="{{atribute.thumbnail.path}}.jpg"
        width="400"
        height="400"
        class="img-thumbnail"
      />
    <p class="card-subtitle">Description: {{atribute.description}}</p>
    {% endfor %}


  <!--COMICS-->
  <section id="comics">
  <div class="bg-gradient">
    <h3>Comics</h3>
    <ul>
      <li class="link">Comics disponibles: {{total_comics_results}} | Total pages: {{total_comics_pages}}</li>
      <li class="link">{{atribute.comics}}</li>

      <div class="row row-cols-2 row-cols-md-6 g-6">
        <div class="col">
      {% for comics in comics_atribute %}
        {% for comics_atribute in comics %}

            <!--EACH COMIC-->
            <div class="card">
              <img src="{{comics_atribute.thumbnail.path}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{comics_atribute.title}}</h5>
                <p class="card-text">{{comics_atribute.description}}</p>
              </div>
            </div>

          {% endfor %}
        {% endfor %}

          </div>
      </div>

    </ul>
  </div>
    <!--PAGINATOR-->
<nav aria-label="...">
  <ul class="pagination bg-dark">
    
    <!-- PREVIOUS PAGE -->
    {% if comic_page > 1 %}
      <li class="page-item">
        <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page|add:-1 }}#comics">Previous</a>
      </li>
    {% endif %}

    {% if comic_page <= comic_page|add:5 %}
    {% for page in comic_pages_range %}
      {% if page >= comic_page and page <= comic_page|add:4 %}
        <li class="page-item">
          {% if page == comic_page %}
            <a class="page-link active" href="?character_id={{ character_id }}&comic_page={{ page }}#comics">{{ page }}</a>
            {% else %}
            <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ page }}#comics">{{ page }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  

     <!-- NEXT PAGE -->
     {% if comic_page < total_comics_pages %}
     {% if total_comics_results >= 5 %}
       <li class="page-item">
         <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page|add:1 }}#comics">Next</a>
       </li>
     {% endif %}
     {% endif %}
     <li>Actual page: {{comic_page}} Total pages: {{total_comics_pages}}</li>
  </ul>
</nav>

  
  </section>


{% endblock %}
