{% extends 'base.html' %} {% block content %}
    <h2>One Character view</h2>

    <h2>This character has: {{characterId}} </h2>

    {% for atribute in character %}
    <h3 class="card-title">{{atribute.name}}</h3>
    <img
    src="{{atribute.thumbnail.path}}.jpg"
        width="400"
        height="400"
        class="img-thumbnail"
      />
    <p class="card-subtitle">Description: {{atribute.description}}</p>
    {% endfor %}


  <!--COMICS-->
  <section id="comics">
  <div class="bg-gradient">
    <h3>Comics</h3>
    <ul>
      <li class="link">Comics disponibles: {{total_comics_results}}</li>
      <li class="link">{{atribute.comics}}</li>

      <div class="row row-cols-2 row-cols-md-6 g-6">
        <div class="col">
      {% for comics in comics_atribute %}
        {% for comics_atribute in comics %}

            <!--EACH COMIC-->
            <div class="card">
              <img src="{{comics_atribute.thumbnail.path}}.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{comics_atribute.title}}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>

        {% endfor %}
      {% endfor %}

        </div>
    </div>

    </ul>
  </div>
  </section>


{% endblock %}
