{% extends 'base.html' %}{% load static %}
{% block content %}
<div id="myCarousel" class="carousel slide m-auto border border-danger border-1 shadow-lg mb-5 bg-body-tertiary" data-bs-ride="carousel" style="width: 1500px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/inicio.jpg" class="carousel-img"  alt="Slide 1">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>E-LAPSE</h1>
          <p class="bg-black">Explora el emocionante universo cinematográfico de Marvel Studios y descubre todo sobre tus películas y personajes favoritos.</p>
          <p><a class="btn btn-lg btn-danger" href="#phc" role="button">Leer más...</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/inicio04.jpg" class="carousel-img" alt="Slide 2">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="bg-black">¡Bienvenido a la comunidad de Marvel! ¡Excelsior!</h1>
          <p class="bg-black">Además, podrás disfrutar de artículos especiales que exploran eventos destacados en la historia de Marvel, como las sagas cósmicas, las diferentes encarnaciones de los personajes y los crossovers más épicos. Estamos aquí para alimentar tu pasión por el mundo de Marvel y ofrecerte un contenido entretenido y de calidad.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/wallpaperbetter.com_1920x1200.jpg" class="d-block w-100" alt="Slide 3">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1 >E-LAPSE</h1>
          <p class="bg-black">¡Bienvenido a nuestra increíble página web dedicada al universo Marvel! Aquí encontrarás todo lo que necesitas saber sobre tus superhéroes y supervillanos favoritos de Marvel. Sumérgete en un mundo lleno de emocionantes aventuras, personajes icónicos y tramas fascinantes.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/img/inicio02.jpg" class="d-block w-100 " alt="Slide 3">
      <div class="container">
        <div class="carousel-caption text-end ">
          <h1>E-LAPSE</h1>
          <p class="bg-black">¡Bienvenido a nuestra increíble página web dedicada al universo Marvel! Aquí encontrarás todo lo que necesitas saber sobre tus superhéroes y supervillanos favoritos de Marvel. Sumérgete en un mundo lleno de emocionantes aventuras, personajes icónicos y tramas fascinantes.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>




<!--PERSONAJES;HISTORIAS;COMICS-->
<div class="container marketing">
  <div id="phc" class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false" >
        <title>Placeholder</title>
        <img class="custom-img" src="../static/img/per.png">
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2>PERSONAJES</h2>
      <p>Los personajes de Marvel son la esencia misma de la heroicidad y la intriga. Desde el icónico Iron Man hasta el increíble Hulk, cada héroe y villano tiene su propia historia fascinante. .</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
        <img class="custom-img" src="../static/img/cine.png">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2>HISTORIAS</h2>
      <p>Las películas y series de Marvel son una experiencia cinematográfica inigualable. Desde el emocionante "Iron Man" hasta el épico "Avengers: Endgame",
          cada entrega te sumerge en un universo de acción, emoción y sorpresas. </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
        <title>Placeholder</title>
        <img class="custom-img" src="../static/img/wow.png">
      </svg>

      <h2>COMICS</h2>
      <p>Los cómics de Marvel son puertas de entrada a mundos extraordinarios.
          Desde las páginas vibrantes de "The Amazing Spider-Man" hasta los épicos eventos de "Infinity Gauntlet",
          cada cómic te sumerge en historias llenas de acción, intriga y personajes inolvidables. 
          Con ilustraciones impresionantes y narrativas cautivadoras, 
        los cómics de Marvel te llevan a través de aventuras inolvidables en cada viñeta.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
{% endblock %}
