{% extends 'base.html' %}{% load static %}
{% block content %}
<div id="myCarousel" class="carousel slide m-auto border border-danger border-1 shadow-lg mb-5 bg-body-tertiary" data-bs-ride="carousel" style="width: 1500px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/inicio.jpg' %}" class="carousel-img"  alt="Slide 1">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>E-LAPSE</h1>
          <p class="bg-black">Explore the exciting Marvel Studios cinematic universe and find out all about your favourite films and characters.</p>
          <p><a class="btn btn-lg btn-danger" href="#phc" role="button">Leer más...</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/inicio04.jpg' %}" class="carousel-img" alt="Slide 2">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="bg-black">Welcome to the Marvel community, Excelsior!</h1>
          <p class="bg-black">In addition, you can enjoy special articles that explore highlights in Marvel's history, such as cosmic sagas, different incarnations of characters and epic crossovers. We're here to feed your passion for the world of Marvel and bring you quality, entertaining content.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/inicio07.jpg' %}" class="d-block w-100" alt="Slide 3">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1 >E-LAPSE</h1>
          <p class="bg-black">Our website is packed with detailed information on every hero and villain in the Marvel Universe. From the Avengers to the X-Men, Guardians of the Galaxy, Spider-Man and many more, we'll provide you with full profiles of your favourite characters.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/inicio02.jpg' %}" class="d-block w-100 " alt="Slide 3">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>E-LAPSE</h1>
          <p class="bg-black">Whether you're a lifelong fan or just starting to delve into the Marvel Universe, our website is the perfect place to find everything you need. Join us on this exciting journey as we explore together the stories and characters that have captivated millions around the world.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>




<!--PERSONAJES;HISTORIAS;COMICS-->
<div class="container marketing">
  <div id="phc" class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false" >
        <title>Placeholder</title>
        <img class="custom-img" src="{% static 'img/per.png' %}">
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2>CHARACTERS</h2>
      <p>Marvel characters are the very essence of heroics and intrigue. From the iconic Iron Man to the incredible Hulk, each hero and villain has his or her own fascinating story...</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
        <img class="custom-img" src="{% static 'img/cine.png' %}">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>

      <h2>STORIES</h2>
      <p>Marvel's films and series are an unparalleled cinematic experience. From the thrilling "Iron Man" to the epic "Avengers: Endgame",
        each instalment immerses you in a universe of action, excitement and surprises. </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" role="img" focusable="false">
        <title>Placeholder</title>
        <img class="custom-img" src="{% static 'img/wow.png' %}">
      </svg>

      <h2>COMICS</h2>
      <p>Marvel comics are gateways to extraordinary worlds.
        From the vibrant pages of "The Amazing Spider-Man" to the epic events of "Infinity Gauntlet,
        each comic immerses you in stories filled with action, intrigue and unforgettable characters. 
        With stunning artwork and captivating storytelling, 
      Marvel comics take you through unforgettable adventures in every issue.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
{% endblock %}
