{% extends 'base.html' %} {% block content %}
<!-- Characters -->
<div>
  <h2 class="card-header font-monospace">Characters</h2>
  <ul>
    {% for character in characters %}
    <li class="text-black card-header">
      {{forloop.counter}} {{character.name}}
      <img
        src="{{character.thumbnail.path}}.jpg"
        width="200"
        height="200"
        class="img-thumbnail"
      />
      -- {{character.id}} {{character.description}}
    </li>
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-danger">More</button>
</div>

<!-- Comics -->
<div>
  <h2 class="card-header font-monospace">Comics</h2>
  <ul>
    {% for comic in comics %}
    <li class="text-black card-header">
       {{forloop.counter}} <a href="">{{comic.title}}</a>
      <img
        src="{{comic.thumbnail.path}}.jpg"
        width="200"
        height="200"
        class="img-thumbnail"
      />
    </li>
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-danger">More</button>
</div>
{% endblock %}
