{% extends 'base.html' %}
{% block content %}

<h1 id="h1per">PERSONAJES</h1>
<br>
<div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for character in characters %}
  <div class="col">
    <div class="card shadow-sm d-flex flex-column h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ character.thumbnail.path }}.jpg" class="card-img-top" alt="Personaje">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center"><a href="{% url 'character' %}?character_id={{ character.id }}">{{character.name}}</a></h5>
            <p class="card-text text-center">{{ character.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<!-- PAGINATOR -->
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="?character_name={{ character_name }}&page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?character_name={{ character_name }}&page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?character_name={{ character_name }}&page=3">3</a></li>
    <li class="page-item">
      <a class="page-link" href="?page=next">Next</a>
    </li>
  </ul>
</nav>

<br>

<h1 id="h1per">COMICS</h1>
<br>
<div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for comic in comics %}
  <div class="col">
    <div class="card shadow-sm d-flex flex-column h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ comic.thumbnail.path }}.jpg" class="card-img-top" alt="Personaje">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-center"><a href="{% url 'comic' %}?comic_id={{ comic.id }}">{{comic.title}}</a></h5>
            <p class="card-text text-center">{{ comic.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Comics -->
<!-- <div>
  <h2 class="card-header font-monospace">Comics</h2>
  <ul>
    {% for comic in comics %}
    <li class="text-black card-header">

       <a href="{% url 'comic' %}?comic_id={{ comic.id }}">{{comic.title}}</a>
       
      <img
        src="{{comic.thumbnail.path}}.jpg"
        width="200"
        height="200"
        class="img-thumbnail"
      />
    </li>
    {% endfor %}
  </ul>
  <button type="button" class="btn btn-danger">More</button>
</div> -->
<p></p>
{% endblock %}
