{% extends 'base.html' %} {% block content %} {% load static %}

<nav class="navbar ">
  <div class="container-fluid justify-content-center bg-opacity-100">
    <a class="btn me-2 btn-outline-danger btn-lg" href="#character">Personajes</a>
    <a class="btn me-2 btn-outline-danger btn-lg" href="#comics">Comics</a>
    <a class="btn me-2 btn-outline-danger btn-lg" href="#events">Eventos</a>
    <a class="btn me-2 btn-outline-danger btn-lg" href="#series">Series</a>
    <a class="btn me-2 btn-outline-danger btn-lg" href="#creators">Creators</a>
  </div>
</nav>


{% for attribute in story %}
<section class="row featurette" id="event_info">
  <div class="col-md-7">
    <h2 class="featurette-heading alig" style="margin-bottom: 40px;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: bold;">{{attribute.title}}</h2>
    <hr style="margin-left: 20px;">
    <p class="lead" style="text-align: left; font-size: 28px;margin-left: 20px;">{{attribute.description}}</p>
  </div>
  <div class="col-md-5 d-flex justify-content-end">
    <img src="{% static 'img/logo.jpg' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400"
      height="400" xmlns="http://www.w3.org/2000/svg" aria-label="Character"
      preserveAspectRatio="xMidYMid slice" role="img" focusable="false" style="margin-top: 40px; border:5px solid white; border-radius: 30px;">
      <title>Stories</title>
      <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
  </img>
</section>


<!-- CHARACTER OF STORIES -->
<section id="characters" class="container marketing">
  {% include 'attributeTemplates/characterAttributeList.html' %}
  <!-- CHARACTERS PAGINATOR -->
  <nav aria-label="characters paginator" class="m-3 w-100">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if character_page > 1 %}
        <li class="page-item">
            <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page|add:-1 }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#characters">Previous</a>
        </li>
      {% endif %}
  
      {% if character_page <= character_page|add:5 %}
      {% for page in character_pages_range %}
        {% if page >= character_page and page <= character_page|add:4 %}
          <li class="page-item">
            {% if page == character_page %}
              <a class="page-link active" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#characters">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#characters">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if character_page < total_characters_pages %}
       {% if total_characters_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page|add:1 }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#characters">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{character_page}} Total pages: {{total_characters_pages}}</li>
    </ul>
    </nav>
</section>


<!-- COMICS OF STORIES -->
<section id="comics" class="container marketing">
  {% include 'attributeTemplates/comicAttributeList.html' %}
  <!-- COMICS PAGINATOR -->
  <nav aria-label="comics paginator" class="m-3 w-100">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if comic_page > 1 %}
        <li class="page-item">
            <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page|add:-1 }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#comics">Previous</a>
        </li>
      {% endif %}
  
      {% if comic_page <= comic_page|add:5 %}
      {% for page in comic_pages_range %}
        {% if page >= comic_page and page <= comic_page|add:4 %}
          <li class="page-item">
            {% if page == comic_page %}
              <a class="page-link active" href="?story_id={{ attribute.id }}&comic_page={{ page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#comics">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#comics">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if comic_page < total_comics_pages %}
       {% if total_comics_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page|add:1 }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#comics">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{comic_page}} Total pages: {{total_comics_pages}}</li>
    </ul>
    </nav>
</section>


<!--EVENTS OF STORIES-->
<section id="events" class="container marketing">
  {% include 'attributeTemplates/eventAttributeList.html' %}
  <!-- EVENTS PAGINATOR -->
  <nav aria-label="events paginator" class="m-3 w-100">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if event_page > 1 %}
        <li class="page-item">
            <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page|add:-1 }}#events">Previous</a>
        </li>
      {% endif %}
  
      {% if event_page <= event_page|add:5 %}
      {% for page in event_pages_range %}
        {% if page >= event_page and page <= event_page|add:4 %}
          <li class="page-item">
            {% if page == event_page %}
              <a class="page-link active" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ page }}#events">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ page }}#events">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if event_page < total_events_pages %}
       {% if total_events_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}&event_page={{ event_page|add:1 }}#events">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{event_page}} Total pages: {{total_events_pages}}</li>
    </ul>
    </nav>
</section>


<!-- SERIES OF STORIES -->
<section id="series" class="container marketing">
  {% include 'attributeTemplates/serieAttributeList.html' %}
  <!-- SERIES PAGINATOR -->
  <nav aria-label="series paginator" class="m-3 w-100">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if serie_page > 1 %}
        <li class="page-item">
            <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page|add:-1 }}&event_page={{ event_page }}#series">Previous</a>
        </li>
      {% endif %}
  
      {% if serie_page <= serie_page|add:5 %}
      {% for page in serie_pages_range %}
        {% if page >= serie_page and page <= serie_page|add:4 %}
          <li class="page-item">
            {% if page == serie_page %}
              <a class="page-link active" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ page }}&event_page={{ event_page }}#series">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ page }}&event_page={{ event_page }}#series">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if serie_page < total_series_pages %}
       {% if total_series_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page|add:1 }}&event_page={{ event_page }}#series">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{serie_page}} Total pages: {{total_series_pages}}</li>
    </ul>
    </nav>
</section>

<!-- CREATORS OF STORY -->
<section id="creators" class="container marketing">
  {% include 'attributeTemplates/creatorAttributeList.html' %}
  <!-- CREATOR PAGINATOR -->
  <nav aria-label="creators paginator" class="m-3 w-100">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if creator_page > 1 %}
        <li class="page-item">
            <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page|add:-1 }}&serie_page={{ page }}&event_page={{ event_page }}#creators">Previous</a>
        </li>
      {% endif %}
  
      {% if creator_page <= creator_page|add:5 %}
      {% for page in creator_pages_range %}
        {% if page >= creator_page and page <= creator_page|add:4 %}
          <li class="page-item">
            {% if page == creator_page %}
              <a class="page-link active" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#creators">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ page }}&serie_page={{ serie_page }}&event_page={{ event_page }}#creators">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if creator_page < total_creators_pages %}
       {% if total_creators_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?story_id={{ attribute.id }}&comic_page={{ comic_page }}&character_page={{ character_page }}&creator_page={{ creator_page|add:1 }}&serie_page={{ serie_page }}&event_page={{ event_page }}#creators">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{creator_page}} Total pages: {{total_creators_pages}}</li>
    </ul>
    </nav>
</section>

{% endfor %}
{% endblock %}
