<section id="events" class="container marketing">
    <h2 class="featurette-heading alig" style="margin-bottom: 40px;text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;">Eventos de {{attribute_entity}}</h2>
     <ul>
        <li class="link">Eventos disponibles: {{total_events_results}} | Total pages: {{total_events_pages}}</li>
     </ul>
     <div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for events in events_attribute %}
          {% for events_attribute in events %}
          <div class="col">
            <div class="d-flex flex-column h-100" style="border: 2px solid white">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{events_attribute.thumbnail.path}}.jpg" class="card-img-top" alt="Personaje">
                </div>
                <div class="col-md-8">
                  <div>
                    <h4>{{events_attribute.title}}</h4>
                    <p><a class="btn btn-outline-danger"href="{% url 'event' %}?event_id={{ events_attribute.id }}" role="button">View details &raquo;</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
           
    </section>