<section id="events" class="container marketing">
    <h2 class="featurette-heading alig" style="margin-bottom: 40px;text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;">
      {% if entity == "characterT" %}
      Personajes que salen en {{attribute.title}}</h2>
      {% elif entity == "comicT" %}
      Comics que salen en {{attribute.title}}</h2>
      {% elif entity == "comicN" %}
      Comics de {{attribute.name}}</h2>
      {% elif entity == "eventT" %}
      Events que salen en {{attribute.title}}</h2>
      {% elif entity == "eventN" %}
      Events de {{attribute.name}}</h2>
      {% elif entity == "storiesT" %}
      Stories que salen en {{attribute.title}}</h2>
      {% elif entity == "storiesN" %}
      Stories de {{attribute.name}}</h2>
      {% elif entity == "seriesT" %}
      Series que salen en {{attribute.title}}</h2>
      {% elif entity == "seriesN" %}
      Series de {{attribute.name}}</h2>
      {% elif entity == "creadorN" %}
      Creadores de {{attribute.name}}</h2>
      {% else %}
      Creadores de {{attribute.title}}</h2>
      {% endif %}
     <ul>
        <li class="link">Eventos disponibles: {{total_events_results}} | Total pages: {{total_events_pages}}</li>
     </ul>
     <div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for events in events_attribute %}
          {% for events_attribute in events %}
          <div class="col">
            <div class="d-flex flex-column h-100" style="border: 2px solid white">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{events_attribute.thumbnail.path}}.jpg" class="card-img-top" alt="Personaje">
                </div>
                <div class="col-md-8">
                  <div>
                    <h4>{{events_attribute.title}}</h4>
                    <p><a class="btn btn-outline-danger"href="{% url 'event' %}?event_id={{ events_attribute.id }}" role="button">View details &raquo;</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
           <!--EVENTS PAGINATOR-->
<nav aria-label="events paginator" class="m-3">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if event_page > 1 %}
        <li class="page-item">
          <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page|add:-1 }}&serie_page={{ serie_page }}&story_page={{ story_page }}#events">Previous</a>
        </li>
      {% endif %}
  
      {% if event_page <= event_page|add:5 %}
      {% for page in event_pages_range %}
        {% if page >= event_page and page <= event_page|add:4 %}
          <li class="page-item">
            {% if page == event_page %}
              <a class="page-link active" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ page }}&serie_page={{ serie_page }}&story_page={{ story_page }}#events">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ page }}&serie_page={{ serie_page }}&story_page={{ story_page }}#events">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if event_page < total_events_pages %}
       {% if total_events_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page|add:1 }}&serie_page={{ serie_page }}&story_page={{ story_page }}#events">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{event_page}} Total pages: {{total_events_pages}}</li>
    </ul>
  </nav>
    </section>