<section id="series" class="container marketing">
    <h2 class="featurette-heading alig" style="margin-bottom: 40px;text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;">
      {% if entity == "characterT" %}
      Personajes que salen en {{attribute.title}}</h2>
      {% elif entity == "comicT" %}
      Comics que salen en {{attribute.title}}</h2>
      {% elif entity == "comicN" %}
      Comics de {{attribute.name}}</h2>
      {% elif entity == "eventT" %}
      Events que salen en {{attribute.title}}</h2>
      {% elif entity == "eventN" %}
      Events de {{attribute.name}}</h2>
      {% elif entity == "storiesT" %}
      Stories que salen en {{attribute.title}}</h2>
      {% elif entity == "storiesN" %}
      Stories de {{attribute.name}}</h2>
      {% elif entity == "seriesT" %}
      Series que salen en {{attribute.title}}</h2>
      {% elif entity == "seriesN" %}
      Series de {{attribute.name}}</h2>
      {% elif entity == "creadorN" %}
      Creadores de {{attribute.name}}</h2>
      {% else %}
      Creadores de {{attribute.title}}</h2>
      {% endif %}
     <ul>
        <li class="link">Series disponibles: {{total_series_results}} | Total pages: {{total_series_pages}}</li>
     </ul>
     <div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for series in series_attribute %}
        {% for series_attribute in series %}
          <div class="col">
            <div class="d-flex flex-column h-100" style="border: 2px solid white">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{series_attribute.thumbnail.path}}.jpg" class="card-img-top" alt="Personaje">
                </div>
                <div class="col-md-8">
                  <div>
                    <h4>{{series_attribute.title}}</h4>
                    <p><a class="btn btn-outline-danger" href="{% url 'serie' %}?serie_id={{ series_attribute.id }}" role="button">View details &raquo;</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
     <!-- SERIES PAGINATOR-->
  <nav aria-label="series paginator" class="m-3">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if serie_page > 1 %}
        <li class="page-item">
          <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page }}&serie_page={{ serie_page|add:-1 }}&story_page={{ story_page }}#series">Previous</a>
        </li>
      {% endif %}
  
      {% if serie_page <= serie_page|add:5 %}
      {% for page in serie_pages_range %}
        {% if page >= serie_page and page <= serie_page|add:4 %}
          <li class="page-item">
            {% if page == serie_page %}
              <a class="page-link active" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page }}&serie_page={{ page }}&story_page={{ story_page }}#series">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page }}&serie_page={{ page }}&story_page={{ story_page }}#series">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if serie_page < total_series_pages %}
       {% if total_series_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?character_id={{ character_id }}&comic_page={{ comic_page }}&event_page={{ event_page }}&serie_page={{ serie_page|add:1 }}&story_page={{ story_page }}#series">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{serie_page}} Total pages: {{total_series_pages}}</li>
    </ul>
  </nav>
</section>
