<div class="container-fluid">
  <h1 class="text-center text-danger m-5" >{{entities}}</h1>
  <br>
  {% if not entity_list %}
    <h2>NO SE HAN ENCONTRADO RESULTADOS</h2> 
  {% endif %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 dark-bg">
    {% for entity_item in entity_list %}
      <div class="col">
        <div class="card shadow-sm d-flex flex-column h-100 bg-dark" style="border: 2px groove white; border-radius: 10px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ entity_item.thumbnail.path }}.jpg" class="card-img-top" style="border: 1px solid white;" alt="{{entity}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center"><a class="link-danger" href="{% url entity %}?{{entity}}_id={{ entity_item.id }}">{{ entity_item.name }}</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

