{% load static %}
<div class="container-fluid">
  <h1 class="text-center text-danger m-5">{{entities}}</h1>
  <br>
  {% if not entity_list %}
  <div class="text-center">
    <img src="{% static 'img/dontfound.gif' %}" alt="No se han encontrado resultados" class="img-fluid mx-auto" style="max-width: 300px;">
    <h2 class="mt-3">No results found</h2> 
  </div> 
  {% endif %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 dark-bg">
    {% for entity_item in entity_list %}
      <div class="col">
        <div class="card shadow-sm bg-dark h-100" style="border: 2px groove white; border-radius: 10px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center">
              <div class="ratio ratio-4x3">
                <img src="{{ entity_item.thumbnail.path }}.jpg" class="card-img-top img-fluid" style="border: 1px solid white;" alt="{{entity}}">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body d-flex flex-column h-100">
                <h5 class="card-title text-center mb-0"><a class="link-danger text-decoration-none" href="{% url entity %}?{{entity}}_id={{ entity_item.id }}">{{ entity_item.name }}</a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
