<li class="text-end m-4" style="list-style-type: none;">Total results: {{ total_characters_results }}</li>
<nav aria-label="..." class="w-100 d-flex justify-content-center">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if character_page > 1 %}
        <li class="page-item">
          <a class="page-link bg-danger text-white" href="?character_name={{ character_name }}&character_page={{ character_page|add:-1 }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}#characters">Previous</a>
        </li>
      {% endif %}
  
      <!-- ALL PAGES -->
      {% if character_page <= character_page|add:5 %}
      {% for page in character_pages_range %}
        {% if page >= character_page and page <= character_page|add:4 %}
          <li class="page-item">
            {% if page == character_page%}
              <a class="page-link active bg-danger text-white" href="?character_name={{ character_name }}&character_page={{ page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}#characters">{{ page }}</a>
            {% else %}
              <a class="page-link bg-danger text-white" href="?character_name={{ character_name }}&character_page={{ page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}#characters">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  
      <!-- NEXT PAGE -->
      {% if character_page < total_characters_pages %}
      {% if total_characters_results >= 5 %}
        <li class="page-item">
          <a class="page-link bg-danger text-white" href="?character_name={{ character_name }}&character_page={{ character_page|add:1 }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page }}&serie_page={{ serie_page }}#characters">Next</a>
        </li>
      {% endif %}
      {% endif %}
    </ul>
  </nav>