<nav aria-label="...">
    <ul class="pagination bg-dark">
      
      <!-- PREVIOUS PAGE -->
      {% if creator_page > 1 %}
        <li class="page-item">
          <a class="page-link bg-dark" href="?character_name={{ character_name }}&character_page={{ character_page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page|add:-1 }}&serie_page={{ serie_page }}#creators">Previous</a>
        </li>
      {% endif %}
  
      {% if creator_page <= creator_page|add:5 %}
      {% for page in creator_pages_range %}
        {% if page >= creator_page and page <= creator_page|add:4 %}
          <li class="page-item">
            {% if page == creator_page %}
              <a class="page-link active" href="?character_name={{ character_name }}&character_page={{ character_page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ page }}&serie_page={{ serie_page }}#creators">{{ page }}</a>
              {% else %}
              <a class="page-link bg-dark" href="?character_name={{ character_name }}&character_page={{ character_page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ page }}&serie_page={{ serie_page }}#creators">{{ page }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
  
       <!-- NEXT PAGE -->
       {% if creator_page < total_creators_pages %}
       {% if total_creators_results >= 5 %}
         <li class="page-item">
           <a class="page-link bg-dark" href="?character_name={{ character_name }}&character_page={{ character_page }}&comic_page={{ comic_page }}&event_page={{ event_page }}&creator_page={{ creator_page|add:1 }}&serie_page={{ serie_page }}#creators">Next</a>
         </li>
       {% endif %}
       {% endif %}
       <li>Actual page: {{creator_page}} Total pages: {{total_creators_pages}}</li>
    </ul>
  </nav>