<section id="{{entity}}">
    <h1 id="h1per">{{entities}}</h1>
    <br>
    {% if not entity_list%}
    <h2>NO SE HAN ENCONTRADO RESULTADOS</h2>
    {% endif %}
    <div id="per" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for entity_item in entity_list %}
      <div class="col">
        <div class="card shadow-sm d-flex flex-column h-100">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ entity_item.thumbnail.path }}.jpg" class="card-img-top" alt="{{entity}}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center"><a class="link-danger" href="{% url entity %}?{{entity}}_id={{ entity_item.id }}">{{ entity_item.title }}</a></h5>
                <p class="card-text text-center">{{ entity_item.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>